ultralytics
opencv-python
yt-dlp
numpy
pandas
supervision
streamlit
plotly
psycopg2-binary
apscheduler
kafka-python
pyspark
boto3
minio
prometheus-client
apache-airflow
scikit-learn
statsmodels
prophet
requests
python-dotenv
